.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.web19201row0 {
  display: flex;
  margin-left: 32.03125%;
  margin-top: 18.055555555555554%;
  width: 57.49999999999999%;
  height: 63.888888888888886vh;
  align-items: center
}
.style0 {
  background-color: #005dff;
  margin-left: 0;
  width: 62.5%;
  height: 100%
}
.style1 {
  background-color: red;
  margin-left: -.052083333333333336vw;
  width: 37.59057971014493%;
  height: 60.14492753623188%
}